.todo-remove {
  -moz-animation: remove 0.5s ease;
  animation: remove 0.5s ease;
}

@-moz-keyframes remove {
  100% {
    opacity: 0;
    height: 0px;
  }
}

@keyframes remove {
  100% {
    opacity: 0;
    height: 0px;
  }
}
